<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-light fixed-top bg-primary">
	<a class="navbar-brand" href="#">Subastas online</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link active" th:href="@{/}">Inicio</a>
			</li>
			<li class="nav-item"><a class="nav-link" th:href="@{/empleo/index}">Mi perfil</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/Subastas/consultar}">Explorar subastas</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/Subastas/consultarSubastasPropias}">Mis subastas</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/puja/consultarPujasUsuario}">Mis pujas</a></li>
		</ul>
		<a class="btn btn-primary" th:href="@{/logout}">Salir</a>
	</div>
</nav>