<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de subastas creadas</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<h1>Nueva subasta</h1>
	
	<div th:if="${msg != null}" th:text="${msg}"
		class="alert alert-success" role="alert"></div>
	
		<header th:insert="fragments/menu :: menu-principal"> </header>
		<div class="card">
			<div class="card-body">
				<form th:action="@{crearSubasta}" th:object="${subasta}" method="post">
				    <fieldset>
				        <legend>Datos de subasta</legend>
				        <table>
				            <tr>
				              <div class="row">
				                <div class="col-md-3"> 
				                  <div class="form-group">
				                    <label for="username">Nombre</label>
				                    <input type="text" th:field="*{nombre}" class="form-control" id="username" placeholder="Escriba nombre de subasta" required="required">
				                  </div>
				                </div>
				              </div> 
				            </tr>
				            <tr>
				              <div class="row">
				                <div class="col-md-3"> 
				                  <div class="form-group">
				                    <label for="username">Fecha de Inicio</label>
				                    <input type="date" class="form-control getdate"
								       th:field="*{fechaInicial}" placeholder="yyyy-MM-dd"
								       th:value="${subasta.fechaInicial}?${#dates.format(subasta.fechaInicial, 'yyyy-MM-dd')}:''"/>
				                  </div>
				                </div>
				              </div> 
				            </tr>
				            <tr>
				              <div class="row">
				                <div class="col-md-3"> 
				                  <div class="form-group">
				                    <label for="username">Fecha de Finalizacion</label>
				                    <input type="date" class="form-control getdate"
								       th:field="*{fechaFinal}" placeholder="yyyy-MM-dd"
								       th:value="${subasta.fechaFinal}?${#dates.format(subasta.fechaFinal, 'yyyy-MM-dd')}:''"/>
				                  </div>
				                </div>
				              </div> 
				            </tr>
				            <tr>
				              <div class="row">
				                <div class="col-md-4"> 
				                  <div class="form-group">
				                    <label for="username">Descripcion</label>
				                    <input type="text" th:field="*{descripcion}" class="form-control" id="username" name="username" placeholder="Escriba descripcion de subasta" required="required">
				                  </div>
				                </div>
				              </div> 
				            </tr>
				            <tr>
				              <div class="row">
				                <div class="col-md-3"> 
				                  <div class="form-group">
				                    <label for="username">Costo inicial</label>
				                    <input type="text" th:field="*{costoInicial}" class="form-control" id="username" name="username" placeholder="Escriba Costo inicial de subasta" required="required">
				                  </div>
				                </div>
				              </div> 
				            </tr>
				            <tr>
				                <td>
				                    <button type="submit" title="Guardar subasta." class="btn btn-primary">Guardar</button>
				                </td>
				            </tr>
				        </table>
				    </fieldset>
				</form>
			</div>
		</div>
	
	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"></script>
</body>
</html>